<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProtoLeaf_WF.Properties.Settings.DBConnectionString" connectionString="Data Source=DESKTOP-FO1KP6B\SQLEXPRESS;Initial Catalog=Sftw;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ida:Domain" value="cnr.it" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:ClientId" value="fe1b4d62-517d-421f-855d-f46e2881b789" />
  </appSettings>
</configuration>
